basic_pitch==0.3.0
clarity==0.1.2
gin==0.1.6
librosa==0.10.1
matplotlib==3.8.0
mir_eval==0.7
mirdata==0.3.7
numpy==1.26.4
pandas==2.2.2
pretty_midi==0.2.10
scipy==1.13.0
setuptools==68.2.2
tensorflow==2.16.1
